# SPDX-FileCopyrightText: Copyright (c) 2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT

*.aux
*.bbl
*.blg
*.crumbs
*.dvi
*.fdb_latexmk
*.fls
*.iml
*.log
*.out
*.pyg
*.tmp
*.vtc
*.xcp
.aidy/
.arXiv/
.claude/
.DS_Store
.eloquence/
.idea/
.image.txt
.stamp*
.zenodo/
_env/
_eolang/
_minted-main/
_minted-slidedeck/
adiffs/
arXiv.zip
arXiv/
dependency-reduced-pom.xml
Dockerfile
ebnf.svg
Eo.svg
iexec.ret
log.txt
main.pdf
node_modules/
paper.pdf
seconds.tex
soap26.pdf
streamliner/out.csv
streamliner/profiling.csv
svg-inkscape/
table-compact.tex
table.tex
target/
zenodo.zip
